.header{
min-height: 100vh;
display: flex;
align-items: center;
position: relative;
}

.banner{
margin-left: 2rem;
border-left: 0.5rem solid #ff5900;
}
.banner_title{
font-size: 3rem;
letter-spacing: 0.25rem;
margin-left: 1rem;
text-transform: uppercase;
color: #ccc;
}